.container {
    margin: 20px;
}
.user {
    list-style-type: none;
    display: flex;
}

.img {
    width: 50px;
    margin-right: 10px;
}

.user_info {
    min-width: 300px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: rgb(240, 240, 197);
}

.user_info li {
    margin-bottom: 5px;
}

.user_info li span {
    font-weight: bold;
    color: gray;
}

.header {
    color: rgba(255, 172, 47, 0.897);
    margin-bottom: 25px;
}

.open::after {
    content: ' \25CF';
    color: rgb(137, 248, 11);
    font-size: 20px;
}
.close::after {
    content: ' \25CF';
    color: rgba(192, 9, 9, 0.89);
    font-size: 20px;
}

.input_status {
    outline: none;
    padding: 3px 5px;
}

.status {
    color: rgb(238, 122, 13);
    cursor: pointer;
}
