.container {
    background-color: rgb(206, 206, 206);
    padding: 10px;
}
.link a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(29, 28, 28);
    border-bottom: 1px solid transparent;
}
.link a:hover {
    border-bottom: 1px solid rgb(29, 28, 28);
}
